@{
    ViewBag.Title = "";
}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
        <style>
        </style>
    </head>
<body style="color: white; font-family:'Abel', sans-serif; font-size:15px;">

    <div class="row">
        <div class="col-md-6">
            <center style="margin-top:50px;"><img src="~/images/Asset 8.png"/></center>
            <p><center></br>
                Hey! Are you a nerd? </br></br>
                It's okay, <bold>we're nerds too.</bold> </br></br>
                A team of four people who are nerds for professional team sports, the olympics,
                x-games, Formula1, MotoGP, local autocrosses, local motocrosses, fantasy books/movies/tv shows,
                Magic The Gathering, Dungeons and Dragons. Really, the list goes on. </br></br>
                Seriously. You name it, at least one of us over here probably nerds out about it. </br></br>
                Nerding out is <b>fun</b>. But you know what's even more fun? Nerding out with friends. </br>
                We know that if you're nerding out about something - especially with friends - things can start to get competitive. </br></br>
                Like, really competitive. </br></br>
                That's where BRACK IT comes in. </br></br> </br></br>
            </center></p>
            <center style="margin-bottom:30px;"><img src="~/images/Asset 9.png"/></center>
                <div class="col-md-3">
                    <center>
                        <img src="~/Images/brackitZach.png" alt="Zach" style="width:155px; height:200px; border-radius:10px;" />
                        <p></p>
                        <p>Z A C H</p>
                        <p>The one that likes the drones.</p>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <img src="~/images/brackitStephen.jpg" alt="Stephen" style="width:155px; height:200px; border-radius:10px;" />
                        <p></p>
                        <p>S T E P H E N</p>
                        <p>The one that likes the video games.</p>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <img src="~/images/brackitAsh.png" alt="Ash" style="width:155px; height:200px; border-radius:10px;"/>
                        <p></p>
                        <p>A C H R A F</p>
                        <p>The one that likes the sports.</p>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <img src="~/Images/brackitLyd.jpg" alt="Lydia" style="width:155px; height:200px; border-radius:10px;"/>
                        <p></p>
                        <p>L Y D I A</p>
                        <p>The one that likes the fantasy books.</p>
                    </center>
                </div>
        </div>
    </div>
</body>
