@model IEnumerable<BunchofBrackets.MVCUI.ViewModels.UsersRequest>

<div class="list">
    @foreach (var item in Model)
    {
        <div class="listitem">
            <div>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </div>
            <div class="requestchoice">
                @Html.ActionLink("Confirm", "Confirm", new { id = item.Request.Id })
                </div>
                <div class="requestchoice">
                    @Html.ActionLink("Deny", "Deny", new { id = item.Request.Id })
                </div>
            </div>
    }

</div>
